.idea
.vscode
.git
.editorconfig
.gitattributes
.gitignore
phpstan.neon
pint.json
rector.php
README.md

tests/
.phpunit.result.cache
phpunit.xml

bootstrap/cache/*
storage/app/private/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
vendor/
